# Manipulating data with the Pandas library
- Import the pandas library.
- Read the file "food_info.csv" in a dataframe called food_info.
- Use the Dataframe.columns attribute followed by the Index.tolist() method to return a list containing all food_info column names.
- Assign the resulting list to the col_names variable and use the print() function to display the column names.
- Finally display the first 3 elements of food_info.

In [2]:
import pandas as pd

In [3]:
food_info = pd.read_csv('food_info.csv')

In [4]:
col_names = food_info.columns.tolist()
print(col_names)
food_info.iloc[0:3]

['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)', 'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)', 'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)', 'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)', 'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg', 'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)', 'Cholestrl_(mg)']

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0

## Transform a column

- Divide the column "Sodium_(mg)" by 1000 to convert this column to grams and assign the result to the variable sodium_grams.
- Multiply the column "Sugar__Tot_(g)" by 1000 to convert to milligrams and assign the result to the variable sugar_milligrams.

In [5]:
sodium_grams = food_info['Sodium_(mg)'] / 1000.
sugar_milligrams = food_info['Sugar_Tot_(g)'] * 1000.

## Mathematical operations between columns

- Divide the column "Protein_(g)" by the column "Water_(g)" and assign the result to the variable grams_of_protein_per_gram_of_water.
- Add the columns "Calcium_(mg)" and "Iron_(mg)" and assign the result to the variable milligrams_of_calcium_and_iron.
- Display the results.

In [6]:
grams_of_protein_per_gram_of_water = food_info['Protein_(g)'] / food_info['Water_(g)']

In [7]:
milligrams_of_calcium_and_iron = food_info['Calcium_(mg)'] + food_info['Iron_(mg)']

In [9]:
grams_of_protein_per_gram_of_water , milligrams_of_calcium_and_iron

(0       0.053560
 1       0.053560
 2       1.166667
 3       0.504598
 4       0.565313
           ...
 8613    0.430233
 8614    0.292384
 8615    0.000000
 8616    0.203283
 8617    0.252229
 Length: 8618, dtype: float64,
 0        24.02
 1        24.16
 2         4.00
 3       528.31
 4       674.43
          ...
 8613     67.40
 8614     10.58
 8615     16.60
 8616     13.50
 8617    119.40
 Length: 8618, dtype: float64)

## Create a nutritional index

Score = 2 x (Protein_(g)) - 0.75 x (Lipid_Tot_(g))

- Multiply the column "Protein_(g)" by 2 and assign the result to the variable protein.
- Multiply the column "Lipid_Tot_(g)" by -0.75 and assign the result to the variable fat.
- Add the variables together and assign the result to the variable rating.
- Display the result.

In [13]:
protein = food_info['Protein_(g)'] * 2

fat = food_info['Lipid_Tot_(g)'] * (-0.75)

rating = protein + fat
rating

0      -59.1325
1      -59.1325
2      -74.0500
3       21.2450
4       24.2200
         ...
8613    18.1750
8614    40.4500
8615     0.0000
8616    31.1500
8617    39.2250
Length: 8618, dtype: float64

## Standardize columns

- Normalize the values in the column "protein_(g)" and assign the result to the variable normalized_protein.
- Normalize the values in the "Lipid_Tot_(g)" column and assign the result to the normalized_fat variable.

## Create a new column

- Assign the normalized column represented by the normalized_protein variable to the new column that will be named "Normalized_Protein" in the food_info dataframe.
- Assign the normalized column represented by the normalized_fat variable to the new column named "Normalized_Fat" in the food_info dataframe.
- Display the first 5 values of the dataframe food_info.

## Create a column for the standardized nutrition index

Score = 2 x Normalized_Protein - 0.75 x Normalized_Fat

- Use the Normalized_Protein and Normalized_Fat columns with this formula to create a new column named Norm_Nutr_Index.

## Sort a DataFrame

- Replace the dataframe food_info by sorting against the Norm_Nutr_Index column in descending order (from largest to smallest)