# All about Series Pandas

- Read the file "fandango_score_comparison.csv" in a dataframe called fandango.
- Display the first 2 lines of fandango.

In [1]:
import pandas as pd
fandango = pd.read_csv("fandango_score_comparison.csv")

## Indexing with integers

- Select the column "FILM" and assign it to the variable series_film and display the first 5 values.
- Do the same with the column "RottenTomatoes" and assign it to the variable series_rt then display the first 5 values.

In [2]:
series_film = fandango[["FILM"]]
series_film.head()

                             FILM
0  Avengers: Age of Ultron (2015)
1               Cinderella (2015)
2                  Ant-Man (2015)
3          Do You Believe? (2015)
4   Hot Tub Time Machine 2 (2015)

In [3]:
series_rt = fandango[["RottenTomatoes"]]
series_rt.head()

   RottenTomatoes
0              74
1              85
2              80
3              18
4              14

## Customize your indexing

- Create a Series object named series_custom that will have a string index (based on the movie names we assign to the variable film_names) and will contain all the RottenTomatoes notes of series_rt that we assign to the variable rt_scores.
>- Be careful to use lists of values for our 2 parameters of the Series() method.
>- Don't forget to import the Series object from pandas

In [4]:
film_names = fandango["FILM"].values

In [5]:
rt_scores = fandango["RottenTomatoes"].values

In [6]:
series_custom = pd.Series(rt_scores,index=film_names)

## Re-index a Series object

- Create the original_index list containing the current index from the index attribute.
- Sort this index using the sorted() method and assign the result to the sorted_index variable.
- Then apply the reindex() method to our Series custom_series to reindex according to the sorted_index index.
- Store the result in the sorted_by_index variable.
- Display the result.

In [8]:
original_index = series_custom.index
sorted_index = sorted(original_index)

In [9]:
sorted_by_index = series_custom.reindex(sorted_index)
sorted_by_index

'71 (2015)                          97
5 Flights Up (2015)                 52
A Little Chaos (2015)               40
A Most Violent Year (2014)          90
About Elly (2015)                   97
                                    ..
What We Do in the Shadows (2015)    96
When Marnie Was There (2015)        89
While We're Young (2015)            83
Wild Tales (2014)                   96
Woman in Gold (2015)                52
Length: 146, dtype: int64

## Sort a Series object

- Sort the Series series series_custom by index using the sort_index() method and assign the result to the sc2 variable.
- Sort the Series series series_custom by values and assign the result to the sc3 variable.
- Display the first 10 values of sc2 and sc3.

In [10]:
sc2 = series_custom.sort_index()

In [11]:
sc3 = series_custom.sort_values()

In [12]:
sc2.head(10)

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64

In [13]:
sc3.head(10)

Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

## Column transformation

- Normalize the Series series_custom (score scale from 0 to 100) to obtain a score scale from 0 to 5 by dividing the object by 20.
- Assign the new Series object to the series_normalized variable.
- Display the result.

In [14]:
series_normalized = series_custom.transform(lambda x: x / 20)
series_normalized

Avengers: Age of Ultron (2015)               3.70
Cinderella (2015)                            4.25
Ant-Man (2015)                               4.00
Do You Believe? (2015)                       0.90
Hot Tub Time Machine 2 (2015)                0.70
                                             ...
Mr. Holmes (2015)                            4.35
'71 (2015)                                   4.85
Two Days, One Night (2014)                   4.85
Gett: The Trial of Viviane Amsalem (2015)    5.00
Kumiko, The Treasure Hunter (2015)           4.35
Length: 146, dtype: float64

## Compare and filter

- Assign to the criteria_one variable the criterion for customer_series values greater than 50.
- Assign the criteria_two variable the criterion for customer_series values less than 75.
- Return a new filtered Series object named both_criteria which contains only the values for which both criteria are true.
- Display this last result.

In [15]:
criteria_one = series_custom.transform(lambda x: x > 50)
criteria_two = series_custom.transform(lambda x: x < 75)
both_criteria = criteria_two[(criteria_one == True) & (criteria_two == True)]
both_criteria

Avengers: Age of Ultron (2015)                                            True
The Water Diviner (2015)                                                  True
Unbroken (2014)                                                           True
Southpaw (2015)                                                           True
Insidious: Chapter 3 (2015)                                               True
The Man From U.N.C.L.E. (2015)                                            True
Run All Night (2015)                                                      True
5 Flights Up (2015)                                                       True
Welcome to Me (2015)                                                      True
Saint Laurent (2015)                                                      True
Maps to the Stars (2015)                                                  True
Pitch Perfect 2 (2015)                                                    True
The Age of Adaline (2015)                                                 True
The DUFF (2015)                                                           True
Ricki and the Flash (2015)                                                True
Unfriended (2015)                                                         True
American Sniper (2015)                                                    True
The Hobbit: The Battle of the Five Armies (2014)                          True
Paper Towns (2015)                                                        True
Big Eyes (2014)                                                           True
Maggie (2015)                                                             True
Focus (2015)                                                              True
The Second Best Exotic Marigold Hotel (2015)                              True
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    True
Escobar: Paradise Lost (2015)                                             True
Into the Woods (2014)                                                     True
Inherent Vice (2014)                                                      True
Magic Mike XXL (2015)                                                     True
Woman in Gold (2015)                                                      True
The Last Five Years (2015)                                                True
Jurassic World (2015)                                                     True
Minions (2015)                                                            True
Spare Parts (2015)                                                        True
dtype: bool

## Data alignment

- Create the Series rt_critics that indexes the values of the RottenTomatoes column notes (review notes) with the name of the movies as index (FILM column).
- Create the Series rt_users which indexes the values of the RottenTomatoes_User column notes (user notes) with the name of the movies as index (FILM column).
- rt_critics and rt_users are thus 2 Series objects containing the average of the critics' and users' scores for each movie.
- Since each Series uses the same index (corresponding to the movie names), use mathematical operations to return the average of the critics' and users' scores for each movie.
- Assign the resulting Series to the variable rt_mean.
- Display the result.

In [16]:
rt_critics = pd.Series(data=fandango["RottenTomatoes"].values, index=original_index.values)

In [17]:
rt_users = pd.Series(data=fandango["RottenTomatoes_User"].values, index=original_index.values)

In [18]:
rt_mean = (rt_critics + rt_users) / 2

In [19]:
rt_mean

Avengers: Age of Ultron (2015)               80.0
Cinderella (2015)                            82.5
Ant-Man (2015)                               85.0
Do You Believe? (2015)                       51.0
Hot Tub Time Machine 2 (2015)                21.0
                                             ...
Mr. Holmes (2015)                            82.5
'71 (2015)                                   89.5
Two Days, One Night (2014)                   87.5
Gett: The Trial of Viviane Amsalem (2015)    90.5
Kumiko, The Treasure Hunter (2015)           75.0
Length: 146, dtype: float64