# Challenge

## Introduction to the datase

- Read all-ages.csv from a DataFrame and assign it to the all_ages variable.
- Read recent-grads.csv from a DataFrame and assign it to the recent_grads variable.
- Display the first 5 lines of all_ages and recent_grads.

In [1]:
import pandas as pd

all_ages = pd.read_csv("all-ages.csv")
recent_grads = pd.read_csv("recent-grads.csv")

In [2]:
all_ages[:5]

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,90000.0

In [3]:
recent_grads[:5]

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419.0,PETROLEUM ENGINEERING,Engineering,2339.0,36.0,2057.0,282.0,0.120564,1976.0,...,270.0,1207.0,37.0,0.018381,110000.0,95000.0,125000.0,1534.0,364.0,193.0
1,2,2416.0,MINING AND MINERAL ENGINEERING,Engineering,756.0,7.0,679.0,77.0,0.101852,640.0,...,170.0,388.0,85.0,0.117241,75000.0,55000.0,90000.0,350.0,257.0,50.0
2,3,2415.0,METALLURGICAL ENGINEERING,Engineering,856.0,3.0,725.0,131.0,0.153037,648.0,...,133.0,340.0,16.0,0.024096,73000.0,50000.0,105000.0,456.0,176.0,0.0
3,4,2417.0,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258.0,16.0,1123.0,135.0,0.107313,758.0,...,150.0,692.0,40.0,0.050125,70000.0,43000.0,80000.0,529.0,102.0,0.0
4,5,2405.0,CHEMICAL ENGINEERING,Engineering,32260.0,289.0,21239.0,11021.0,0.341631,25694.0,...,5180.0,16697.0,1672.0,0.061098,65000.0,50000.0,75000.0,18314.0,4440.0,972.0

## Number of students per Major category

- Return the unique values of Major_category.
>- Use the Series.unique() method to return the unique values of a Series.

In [4]:
all_ages['Major_category'].unique()
recent_grads['Major_category'].unique()

array(['Engineering', 'Business', 'Physical Sciences',
       'Law & Public Policy', 'Computers & Mathematics',
       'Agriculture & Natural Resources',
       'Industrial Arts & Consumer Services', 'Arts', 'Health',
       'Social Science', nan, 'Biology & Life Science', 'Education',
       'Humanities & Liberal Arts', 'Psychology & Social Work',
       'Communications & Journalism', 'Interdisciplinary'], dtype=object)

- For each unique value (use a for? loop):
>- Return all lines where Major_category is worth this unique value.
>- Calculate the total number of students representing this major category (Total column to sum).
>- You will store this result in the form of a dictionary containing a Major_category key and the number of students as a value.

In [6]:
d1 = {}
d2 = {}
for major in all_ages['Major_category'].unique():
    d1[major] = all_ages['Total'][all_ages['Major_category'] == major].sum()
print(d1)
for major in recent_grads['Major_category'].unique():
    d2[major] = recent_grads['Total'][recent_grads['Major_category'] == major].sum()
print(d2)

{'Agriculture & Natural Resources': 632437.0, 'Biology & Life Science': 1338186.0, 'Engineering': 3576013.0, 'Humanities & Liberal Arts': 3738335.0, 'Communications & Journalism': 1803822.0, 'Computers & Mathematics': 1781378.0, 'Industrial Arts & Consumer Services': 1018072.0, 'Education': 4700118.0, 'Law & Public Policy': 902926.0, 'Interdisciplinary': 45199.0, 'Health': 2950859.0, 'Social Science': 2654125.0, 'Physical Sciences': 1013152.0, nan: 0.0, 'Psychology & Social Work': 1987278.0, 'Arts': 1805865.0, 'Business': 9858741.0}
{'Engineering': 537583.0, 'Business': 1302376.0, 'Physical Sciences': 183363.0, 'Law & Public Policy': 179107.0, 'Computers & Mathematics': 299008.0, 'Agriculture & Natural Resources': 79981.0, 'Industrial Arts & Consumer Services': 227357.0, 'Arts': 357130.0, 'Health': 463230.0, 'Social Science': 529966.0, nan: 0.0, 'Biology & Life Science': 453862.0, 'Education': 559129.0, 'Humanities & Liberal Arts': 713468.0, 'Psychology & Social Work': 481007.0, 'Communications & Journalism': 392601.0, 'Interdisciplinary': 12296.0}

#### Mission:
- Create a function in which you will use the Total column to calculate the number of students for each Major category (Major_category) in each dataset.
>- Store the result in 2 separate dictionaries.
>- The key for each dictionary will be Major_category and the value the total number of students.
>- For the dataset all_ages, store the result in a dictionary called aa_car_counts.
>- For the dataset recent_grads, store the result in a dictionary called rg_cat_counts.
- Other method: Use a table pivot.
- Display both dictionaries.

In [7]:
def num_std_mjr(data, dictionary={}):
    for major in data['Major_category'].unique():
        dictionary[major] = data['Total'][data['Major_category'] == major].sum()
    return dictionary

In [8]:
aa_car_counts = num_std_mjr(all_ages)

In [9]:
rg_cat_counts = num_std_mjr(recent_grads)

In [10]:
aa_car_counts

{'Agriculture & Natural Resources': 79981.0,
 'Biology & Life Science': 453862.0,
 'Engineering': 537583.0,
 'Humanities & Liberal Arts': 713468.0,
 'Communications & Journalism': 392601.0,
 'Computers & Mathematics': 299008.0,
 'Industrial Arts & Consumer Services': 227357.0,
 'Education': 559129.0,
 'Law & Public Policy': 179107.0,
 'Interdisciplinary': 12296.0,
 'Health': 463230.0,
 'Social Science': 529966.0,
 'Physical Sciences': 183363.0,
 nan: 0.0,
 'Psychology & Social Work': 481007.0,
 'Arts': 357130.0,
 'Business': 1302376.0}

In [11]:
rg_cat_counts

{'Agriculture & Natural Resources': 79981.0,
 'Biology & Life Science': 453862.0,
 'Engineering': 537583.0,
 'Humanities & Liberal Arts': 713468.0,
 'Communications & Journalism': 392601.0,
 'Computers & Mathematics': 299008.0,
 'Industrial Arts & Consumer Services': 227357.0,
 'Education': 559129.0,
 'Law & Public Policy': 179107.0,
 'Interdisciplinary': 12296.0,
 'Health': 463230.0,
 'Social Science': 529966.0,
 'Physical Sciences': 183363.0,
 nan: 0.0,
 'Psychology & Social Work': 481007.0,
 'Arts': 357130.0,
 'Business': 1302376.0}

## Low-wage job rate

- Use the columns "Low_wage_jobs" and "Total" to calculate the proportion of young graduates who had to find low-wage jobs (recent_grads).
>- Remember that you can use the Series.sum() method to return the sum of the values of a column
- Store the result in the variable low_wage_proportion and display it.

In [13]:
lwage_prop = (recent_grads["Low_wage_jobs"].sum() / recent_grads["Total"].sum())
lwage_prop

0.09856140415130317

## Compare datasets

- Use a for loop to browse all majors.
>- For each major and each DataFrame, filter only the lines of the DataFrame corresponding to that major.
>- Compare the values for the "Unemployment_rate" column to see which of the 2 DataFrames has the lowest value.
>- Increment (cad add 1) to the rg_lower_count variable if the value for Unemployment_rate is smaller in dataframe recent_grads than in dataframe all_ages
- Display the result rg_lower_count.